body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(#c3a5e1,#78b2d9);
  background-repeat: no-repeat;
  background-color:#78b2d9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: mediumblue;
}

.header {
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100%;
  background-color:#c3a5e1;
  padding: 0px 70px 0px 70px;
}

.header p {
  width: 60%;
  position: relative;
  right: 130px;
}

.divy {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 40px;
}

.divy iframe {
  margin: 20px;
}

.col {
  color: darkslateblue;
  width: 40%;
  padding:40px;
  text-align: center;
  font-family: 'Asap', sans-serif;
  font-size: 24px;
}